<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd
			    http://www.springframework.org/schema/aop
			    http://www.springframework.org/schema/aop/spring-aop.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx.xsd
			    http://www.springframework.org/schema/mvc
			    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--    扫描Controller文件-->
    <context:component-scan base-package="com.ljp.controller"/>

    <!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!-- 请求静态资源 -->
    <mvc:default-servlet-handler/>


    <!--    输出字符转换器设置编码格式-->
    <bean id="charset" class="java.nio.charset.Charset" factory-method="lookup">
        <constructor-arg value="UTF-8"/>
    </bean>
    <!--    mvc配置-->
<!--    注解驱动-->
    <mvc:annotation-driven >
        <mvc:message-converters>
            <!--            输出字符串转换器-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg name="defaultCharset" ref="charset"/>
            </bean>
            <!--            返回对象Json转换器配置-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
<!--                                设置日期转换-->
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd"></constructor-arg>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

<!--    登录拦截器-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**/*"/>-->
<!--            <mvc:exclude-mapping path="/login"/>-->
<!--&lt;!&ndash;            <mvc:exclude-mapping path="/dy/*"/>&ndash;&gt;-->
<!--            <bean class="com.ljp.utils.SessionInterceptor" />-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10MB -->
        <property name="maxUploadSize">
            <value>10485760</value>
        </property>
        <!--设置编码，与jsp页面编码一致-->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

</beans>