<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljp.mapper.WorkerDao">

    <resultMap id="WorkerMap" type="com.ljp.entity.Worker">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="sex" property="sex"/>
        <result column="dutu" property="dutu"/>
    </resultMap>
<!--查找语句标准-->
    <sql id="WorkerFindCriteria">
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="account != null and account != ''">and account=#{account}</if>
            <if test="password != null and password != ''">and password=#{password}</if>
            <if test="name != null and name != ''">and name=#{name}</if>
            <if test="phone != null and phone != ''">and phone=#{phone}</if>
            <if test="sex != null and sex != ''">and sex=#{sex}</if>
            <if test="dutu != null and dutu != ''">and dutu=#{dutu}</if>
        </where>
    </sql>
<!--更新语句标准-->
    <sql id="WorkerUpdateCriteria">
        <set>
            <if test="updateId != null">id=#{updateId},</if>
            <if test="updateAccount != null and updateAccount != ''">account=#{updateAccount},</if>
            <if test="updatePassword != null and updatePassword != ''">password=#{updatePassword},</if>
            <if test="updateName != null and updateName != ''">name=#{updateName},</if>
            <if test="updatePhone != null and updatePhone != ''">phone=#{updatePhone},</if>
            <if test="updateSex != null and updateSex != ''">sex=#{updateSex},</if>
            <if test="updateDutu != null and updateDutu != ''">dutu=#{updateDutu},</if>
        </set>
    </sql>

<!-- keyProperty="id" useGeneratedKeys="true" mysql自增长序列 插入数据获得主键 -->
    <insert id="create" parameterType="com.ljp.entity.Worker" keyProperty="id" useGeneratedKeys="true">
        insert into tb_worker(account,password,name,phone,sex,dutu)
        values (#{account},#{password},#{name},#{phone},#{sex},#{dutu})
    </insert>
    
    <delete id="delete">
        delete from tb_worker
        <include refid="WorkerFindCriteria"></include>
    </delete>

    <select id="count" resultType="int">
        select count(1) from tb_worker
        <include refid="WorkerFindCriteria"></include>
    </select>
    
    <select id="query" resultMap="WorkerMap">
        select * from tb_worker
        <include refid="WorkerFindCriteria"></include>
    </select>
    
    <select id="detail" resultMap="WorkerMap">
        select * from tb_worker
        <include refid="WorkerFindCriteria"></include>
        limit 1
    </select>
    
    <update id="update">
        update tb_worker
        <include refid="WorkerUpdateCriteria"></include>
        <include refid="WorkerFindCriteria"></include>
    </update>

</mapper>